.ab-services-section {
  padding: 20px 5%;
  text-align: center;
}
.ab-services-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
  margin-block-start: 50px;
}

.ab-service-box {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}
.ab-service-link {
  display: block;
  width: 100%;
  cursor: pointer;
}
.ab-service-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
}

.ab-service-box:hover {
  transform: translateY(-10px);
}
